<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
  </head>
  <body>
  
    <h1> Greetings! from {{ pet.pet_name }}</h1>
    <img src="{{ pet.pet_photo }}" alt="Photo of pet" width="250px" height="250px" />

    <h3 class="pet-fact"> {{pet.pet_fact}}"></h3>

    <a href="/pets">Go Back></a>
    <a href="/pets/facts/new/{{pet.pet_id}}" class="add-fact">Add Fact</a>
  </body>
</html>
